.grid{
    display: grid;
}
.grid-5{
    grid-template-columns: repeat(5,calc(100%/5));
}
.grid-2{
    grid-template-columns: repeat(2, calc(100%/2));
}
.grid-3{
    grid-template-columns: repeat(3, calc(100%/3));
}
div{
    margin-top: 10px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}